<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LK.Renos | {{ page.title }}</title>
    <script src="/js/particles.min.js" defer></script>
    <script src="/js/background.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap" rel="stylesheet">     
</head>
<body>
    <section id="particles-js" class="landing-background-group"></section>
    <div class="landing-container container">
    {{ content }}
    </div>
    <footer class="footer">
        <div class="footer-item">
            <h4>Contact</h4>
            <ul class="list-unstyled">
                <li><b>name:</b> Justin LK</li>
                <li><b>phone:</b> 289 200 5249</li>
                <li><b>email:</b> Jlk.renos@gmail.com</li>
                <li><b>located:</b> Greater Toronto Area, Ontario</li>
            </ul>
        </div>
        <div class="footer-item">
            <h4>Navigation</h4>
            <ul class="list-unstyled">
                <li><a href="/about/" class="nav-link">About</a></li>                
                <li><a href="/kitchens/" class="nav-link">Kitchens</a></li>
                <li><a href="/bathrooms/" class="nav-link">Bathrooms</a></li>                
                <li><a href="/flooring/" class="nav-link">Flooring</a></li>
                <li><a href="/counter-tops/" class="nav-link">Counter Tops</a></li>
            </ul>               
        </div> 
    </footer>    
</body>
</html>